<%- include('../features/navbar.ejs') %>

    <h1>This shows 1 flight</h1>


    <p>Origin: <%= flight.origin %>
    </p>
    <p>Destination: <%= flight.destination%>
    </p>
    <p>Departure At: <%= flight.departureAt %>
    </p>
    <p>Return At: <%= flight.returnAt %>
    </p>

    <br>